summary {

    /* background-color: #F2E9E9; */
    color: black;
    cursor: pointer;
    padding: 1.2rem;
    font-size: 1.6rem;
    border: .1rem solid black;
  }

  details {
    border: .3rem solid #F2E9E9;
    border-radius: .5rem;
    margin-bottom: .2rem;
    
  }

  details[open] summary {
    background-color: rgb(209, 209, 210);
  }

  details div {
    font-size: 1.5rem;
    padding: .2rem;
  }
  .cart-product-img img{
    width: 100%;
    height: 100%;
}
.cartproductdetails{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.cart-product-name{
    font-weight: 700;
    color: #832729;
    
}